.navbar{
    user-select: none;
    position: relative;
    margin-top:2px;
    min-width: 650px;
    height: 8vh;
    border: 3px solid rgb(6, 237, 37);
    border-radius: 25px 25px 25px 25px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bar{
 user-select: text;
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    justify-content: space-between;
    min-width:70%;
}
.navtitel{
 
    position: relative;
    font-family: 'Righteous', 'cursive';
    font-size: 27px;
    font-weight: 100;
    color: #19a83fe8;
}
.happyicon{
    cursor: pointer;
    position: relative;
    width: 75px;
}
.carticon{
    position: relative;
   cursor: pointer;
    width: 35px;
    right: -10px;
}
.logouticon{ 
    position: relative;
    cursor: pointer;
     width: 30px;
     right: -25px;
}


@media screen and (max-width: 625px){
  
    .navbar{
        height: 7vh;
        min-width: 356px;
      
    }
  }